html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e9ebee;
}

#content {
	margin: 15px auto;
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	padding-bottom: 50px;
}

#wrapper {
	background-color: white;
	padding: 50px 0px 50px 0px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

#wrapper-reducer{
	text-align: center;
}

#left {
	width: 400px;
	margin-top: 50px;
}

#right {
	width: 400px;
	margin-top: 50px;
	display: none;
}

nav {
	text-transform: uppercase;
	color: #92b0b3;
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.nodeStatusbtn{
	background:none;
	border: none;
	color: white;
	margin-top: 10px;
	border-bottom: 1px solid white;
	cursor: pointer;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@media screen and (max-width: 860px) {
	nav h1 {
		margin-top: 25px;
	}
	pre#response {
		margin: 30px 0;
	}
}

@media screen and (max-width: 477px) {
	nav h1 {
		font-size: 14px;
	}
	nav ul {
		font-size: 12px;
	}
}

@media screen and (max-width: 410px) {
	nav h1 {
		margin: 15px 0;
	}

	nav > ul > li {
		padding: 0 .5em 15px;
	}
}

@media screen and (max-width: 390px) {
	#wrapper {
		padding: 50px 0;
	}
}

@media screen and (max-width: 370px) {
	nav h1 {
		font-size: 13px;
	}

	nav img {
		width: 30px;
	}
}

@media screen and (max-width: 355px) {
	nav h1 {
		font-size: 12px;
	}

	nav img {
		width: 28px;
	}
}

@media screen and (max-width: 350px) {
	nav h1 {
		font-size: 11px;
	}

	nav img {
		width: 25px;
	}

	nav > ul > li {
		font-size: 11px;
	}
}

h1 {
	color: #ffffff;
	font-weight: 500;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	margin: 0;
}

.buttonContent > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonContent > div:first-child img {
	margin-left: 5px;
}

.min-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 64px;
}

.min-loading.blue {
    width: 68px;
}

.min-loading div {
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.min-loading.blue div {
	background-color: #3498db;
	width: 15px;
	height: 15px;
}

.min-loading div:nth-child(1) {
	left: 6px;
	animation: min-loading1 0.6s infinite;
}
.min-loading div:nth-child(2) {
	left: 6px;
	animation: min-loading2 0.6s infinite;
}
.min-loading div:nth-child(3) {
	left: 26px;
	animation: min-loading2 0.6s infinite;
}
.min-loading div:nth-child(4) {
	left: 45px;
	animation: min-loading3 0.6s infinite;
}
@keyframes min-loading1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes min-loading3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes min-loading2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

.loading-hidden {
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#divResponse {
	width: 100%;
	display: none;
}

#divResponse a {
	color: rgb(165, 82, 204);
}

.b-nav {
	margin: 0px auto;
	padding: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(99 66 199 / 93%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.imgSizeBox{
	padding: 1rem;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #a7a7a72e;
    color: #50a2ab;
}

.widthForm{
	background-color: white;
	margin-left: 30px;
	color: #333;
	width: 65px;
}

.videoForm{
	border-top: 1px solid #cbc7c7;
    padding-top: 20px;
    text-align: center;
}

.uploadForm{
	margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.downloadbtn{
	cursor: pointer;
	background: none;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

.downloadbtn a{
    border: none;
    background: none;
    padding: 0;
	color: rgb(243, 79, 79);
	text-decoration: underline;
}

.downloadbtn a:hover {
	color: rgb(248, 6, 6);
}

#imageUploadforReduce label{
	cursor:pointer;
	background: #c35b2a;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    padding: 2rem;
	margin-bottom: 100px;
}

#imageUploadforReduce canvas{
	margin-top: 50px;
	width: 200px;
	height: 70px;
}

#imageUploadforReduce{
	margin-top: 40px;
}

.resetBtn{
	cursor: pointer;
	margin-top: 50px;
	border-radius: 5px;
	width: 100px;
	padding: 1rem;
	color: white;
	background-color: rgb(147, 2, 184);
	border: none;
}

