.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #9387f9;
}

.ipfsUploadsection{
  margin-top: 50px;
}

.uploadForm{
  text-align: center;
    border: 1px solid #9387f9;
    cursor: pointer;
    border-radius: 0.7rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
 
.uploadForm:hover{
  background-color: #9387f9;
  color: white;
  transition: 0.3s;
} 

.imgUrl-show{
  margin-top: 40px;
}

.fileshow-box{
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.fileshow-card-borderOn{
  width: 200px;
  height: 200px;
  border: 1px solid #9387f9;
  border-radius: 0.7rem;
}

.fileshow-card-borderOn img{
  width: 100%;
  border-radius: 0.7rem;
}